extends layout

block content
  h1= title
  p Welcome to #{title}!

  h2 Who's taking which course?
  .courses
  each course in student.courses
    h4= course.name
    ul
      each student in course.takenBy
        li
          a(href=`api/students/${student.name}`)= student.name
